$exampleItem-width: 100%;

#examples {
  .imageheader {
     @mixin backImage '../images/backgrounds/exampleArea.png', auto, transparent, transparent
  }

  .example-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;

    .example-item {
      position: relative;
      color: $color-background;
      overflow: hidden;

      width: calc($exampleItem-width/2);
      @media $small { width: calc($exampleItem-width/3); }
      @media $medium { width: calc($exampleItem-width/4); }
      @media $large { width: calc($exampleItem-width/6); }

      transition: all .4s ease-in-out;
      opacity: .8;

      &:hover, &:focus {
        opacity: 1;
        transform: scale(1.3);
        z-index: 1;

        .example-name {
          display: block;
          animation: slideInUp 1s;
        }
      }

      .example-name {
        background: $red;
        color: $yellow;
        font-weight: $font-weight-heavy;
        font-size: 80%;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: none;
      } /*.product-name*/

      &:hover, &:focus {
        .example-name {
          display: block;
        }
      }

    } /*.example-item*/
  }/*.example-list*/
} /* examples*/
